/public-app/.DS_Store
/public-app/node_modules
/public-app/dist

/public-app/.env.local
/public-app/.env.*.local

/public-app/npm-debug.log*
/public-app/yarn-debug.log*
/public-app/yarn-error.log*
/public-app/pnpm-debug.log*

/public-app/.idea
/public-app/.vscode

/server/build
/server/target


*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.metadata/
